[Unit]
Description=TheMachine Manifesting API Server
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/tm-manifest-server
ExecStart=/usr/bin/tm-manifest-server $OPT_ARGS

[Install]
WantedBy=multi-user.target
