#!/usr/bin/make -f
#DEBHELPER#

%:
	dh $@ --with=python2,python3

override_dh_auto_clean:
	echo "Override dh_auto_clean... do nothing."

override_dh_auto_install:
	echo "Override dh_auto_install... do nothing."

override_dh_auto_build:
	echo "Override dh_auto_build... do nothing."
